
.board{
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    right: 0;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}
