<div class="d-flex justify-content-start task-title mb-0" mat-dialog-title>
    <img class="mt-2" height="20px" src="assets/icon/board.svg">
    <div class="ms-2">
        <div class="text-start btn-add">
            <div class="cursor" (click)="openFormAdd($event)">{{card.name}}
                <img class="cursor me-2" src="assets/icon/edit.svg">
            </div>
        </div>
        <div class="form-add hidden">
            <div class="w-100">
                <input class="w-100 input" placeholder="Title this card" [value]="card.name" />
            </div>
            <div class="text-end">
                <img class="cursor me-2" src="assets/icon/close.svg" (click)="closeFormAdd($event)">
                <button type="button" class="btn btn-primary" (click)="addForm($event)">Add</button>
            </div>
        </div>
        <!-- <span class="fst-italic fs-6">In list </span> <span class="fw-bold ms-1">Draf</span> -->
    </div>
    <img class="cursor icon-close" height="30px" src="assets/icon/close.svg" (click)="closeFormDialog('close')">
</div>
<mat-dialog-content class="mat-typography task-detail">
    <div class="d-flex justify-content-start mt-3">
        <div class="me-5 form-members ">
            <p class="mb-1">Members</p>
            <div class="mt-2">
                <form [formGroup]="form" (ngSubmit)="onSearch()">
                    <ng-select [items]="users" bindLabel="name" bindValue="id" labelForId="state" [multiple]="true"
                        placeholder="Select users" clearAllText="Clear" formControlName="member" [clearable]="false"
                        (change)="hanldeChangeMember($event)">
                    </ng-select>
                    <div class="text-end mt-2 btn-add" *ngIf="isChangeMember">
                        <img class="cursor me-2" src="assets/icon/close.svg" (click)="closeUpdateMember($event)">
                        <button type="button" class="btn btn-primary" (click)="updateMember($event)">Add</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="me-5 form-time">
            <p class="mb-1">Deadline</p>
            <div class="mt-2">
                <input type="text" class="form-control form-control-sm form-add" bsDatepicker placeholder="Deadline..."
                    [(bsValue)]="deadline" (focus)="catchFocus($event)" [minDate]="minDate" />
                <div class="text-end mt-2 btn-add hidden">
                    <img class="cursor me-2" src="assets/icon/close.svg" (click)="closeFocus($event)">
                    <button type="button" class="btn btn-primary" (click)="updateDatetime($event)">Add</button>
                </div>
            </div>

        </div>
        <div class="me-5 form-members">
            <p class="mb-1">Priority</p>
            <div class="prority text-center" (click)="changePriority()">
                <img *ngIf="card.priority" width="32px" src="assets/icon/up-arrow.svg" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-3 ">
        <div class="pe-4 w-100">

            <div class="d-flex justify-content-start mt-3">
                <img class="" height="20px" src="assets/icon/description.svg">
                <div class="ms-2">
                    <span class="mb-0">Descrition</span>
                </div>
            </div>
            <div class="mt-2">
                <textarea class="form-control height-100 form-add" [value]="card.description"
                    placeholder="Add a more detailed description…" (focus)="catchFocus($event)"></textarea>
                <div class="text-end mt-2 btn-add hidden">
                    <img class="cursor me-2" src="assets/icon/close.svg" (click)="closeFocus($event)">
                    <button type="button" class="btn btn-primary" (click)="updateDescription($event)">Add</button>
                </div>
            </div>

            <!-- <div class="d-flex justify-content-start mt-3">
                <img class="" height="20px" src="assets/icon/checklist.svg">
                <div class="ms-2">
                    <span class="mb-0">Check list</span>
                </div>
            </div>

            <input class="form-control mt-2" [value]="card.description" placeholder="Input check list..." /> -->

            <!-- <div class="d-flex justify-content-start mt-3">
                <img class="" height="20px" src="assets/icon/chat.svg">
                <div class="ms-2">
                    <span class="mb-0">Comment</span>
                </div>
            </div>

            <textarea class="form-control height-100 mt-2" value=" wqw" placeholder="Write a comment…"></textarea> -->


        </div>
        <!-- <div class="form-action">
            <div class="d-flex justify-content-start action">
                <img class="" height="20px" src="assets/icon/move.svg">
                <div class="ms-2">
                    <span class="mb-0">Move</span>
                </div>
            </div>
            <div class="d-flex justify-content-start action">
                <img class="" height="20px" src="assets/icon/delete.svg">
                <div class="ms-2">
                    <span class="mb-0">Delete</span>
                </div>
            </div>
        </div> -->
    </div>

</mat-dialog-content>