.login{
   max-width: 400px;
   width: 100%;
   margin: auto;
   background-color: white;
   padding: 20px;
 }
 .login-header{
   text-align: center;
   padding: 40px 0px;
   font-size: 45px;
   color: rgb(94, 108, 132);
 }
 .login-header img{
   width: 200px;
 }
 .login .title{
   font-size: 20px;
   text-align: center;
   color: rgb(94, 108, 132);
 }
 .user-form img{
   border-radius: 50px;
   width: 50px;
   height: 50px;
 }
 .user-form{
   display: flex;
   justify-self: start;
   padding: 18px 10px;
   cursor: pointer;
 }
 .user-form:hover{
   background-color: rgb(229, 231, 235);
 }
 .user-form .name{
   font-weight: 700;
 }
 .line{
   border-bottom: solid 1px rgb(177, 178, 181);
 }
 .logo{
    position: absolute;
    max-width: 100px;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
 }
 .bottom{
    position:relative;
 }
 .bottom .login-form{
   display: flex;
   flex-direction: column;
   padding: 15px 13px;
   background: rgb(255, 255, 255);
 }
