<div class="login-wrp">
  <div class="bottom">
    <form action="" class="login-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" />
      </div>
      <!--          <div class="form-group">
             <label class="checkbox-inline"><input type="checkbox" value=""> Keep me sign in</label>
          </div> -->
      <a href="#" class="btn btn-primary btn-block">Login</a>
      <p class="text-center">
        <small><a href="#" class="btn-link">Forgot password</a></small>
      </p>
    </form>
  </div>
</div>
