<div class="board mt-5 container-fluid" cdkDropListGroup>
  <div class="task-colum pe-2">
    <div class="task task-start">
      <div class="task-title pb-2">
        <img class="pin" src="assets/icon/location.svg" />
        <span>Started</span>
      </div>
      <div class="task-body">
        <div
          cdkDropList
          [cdkDropListData]="todo"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box p-2 mb-3" *ngFor="let item of todo" cdkDrag>
            <img class="edit" src="assets/icon/edit.svg" />
            <div class="d-flex flex-wrap">
              <span class="label label-success me-1"></span>
              <span class="label label-danger me-1"></span>
            </div>
            <div class="py-2">
              <span>{{ item }}</span>
            </div>

            <div class="footer-badge">
              <img src="assets/icon/subject.svg" />
              <div class="ms-2">
                <img src="assets/icon/chat.svg" />
                <span class="ms-1">2</span>
              </div>
              <div class="ms-2">
                <img src="assets/icon/checkbox.svg" />
                <span class="ms-1">2/3</span>
              </div>
              <div class="ms-2">
                <img src="assets/icon/clock.svg" />
                <span class="ms-1">Dec 12</span>
              </div>
            </div>
            <div class="footer-assign">
              <img class="ms-1" src="assets/images/user/tranminhtien.jpg" />
              <img class="ms-1" src="assets/images/user/phamduytin.jpg" />
              <img class="ms-1" src="assets/images/user/thaithuytrieu.jpeg" />
            </div>
          </div>

          <div class="cursor">+ Add card</div>
        </div>
      </div>
    </div>
  </div>

  <div class="task-colum pe-2">
    <div class="task task-doing">
      <div class="task-title pb-2">
        <img class="pin" src="assets/icon/location.svg" />
        <span>Doing</span>
      </div>
      <div class="task-body">
        <div
          cdkDropList
          [cdkDropListData]="done"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box p-2 mb-3" *ngFor="let item of done" cdkDrag>
            <img class="edit" src="assets/icon/edit.svg" />
            <div class="d-flex flex-wrap">
              <span class="label label-success me-1"></span>
              <span class="label label-danger me-1"></span>
            </div>
            {{ item }}

            <div class="task-footer py-2">
              <img src="assets/icon/subject.svg" />
              <div class="ms-2">
                <img src="assets/icon/chat.svg" />
                <span class="ms-1">2</span>
              </div>
              <div class="ms-2">
                <img src="assets/icon/checkbox.svg" />
                <span class="ms-1">2/3</span>
              </div>
              <div class="ms-2">
                <img src="assets/icon/clock.svg" />
                <span class="ms-1">Dec 12</span>
              </div>
            </div>
          </div>
          <div class="cursor">+ Add card</div>
        </div>
      </div>
    </div>
  </div>

  <div class="task-colum pe-2">
    <div class="task task-review">
      <div class="task-title pb-2">
        <img class="pin" src="assets/icon/location.svg" />
        <span>In Review</span>
      </div>
      <div class="task-body">
        <div class="cursor">+ Add card</div>
      </div>
    </div>
  </div>

  <div class="task-colum pe-2">
    <div class="task task-done">
      <div class="task-title pb-2">
        <img class="pin" src="assets/icon/location.svg" />
        <span>Complete</span>
      </div>
      <div class="task-body">
        <div class="cursor">+ Add card</div>
      </div>
    </div>
  </div>

  <div class="task-colum-add">
    <div class="task-add">
      <div class="task-title">
        <span>+ Add list</span>
      </div>
      <div class="task-body"></div>
    </div>
  </div>
</div>
